version: '3.9'

services:

  employees-db:     
    image: oscarfonts/h2
    container_name: employees-db
    restart: always
    volumes:
      - ./h2:/opt/h2-data
    environment:
      - H2_OPTIONS=-ifNotExists -web -webAllowOthers -webPort 8080
    networks:
      - my_local_network
    profiles:
      - employees
      - all
    
  employees-service:
    image: harbor.k8s.elab.rs/bolnica-1/employees:0.0.1
    build: 
     context: ./employees
     dockerfile: Dockerfile
    restart: always
    container_name: employees
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:h2:file:/opt/h2-data/employees-service
    networks:
      - my_local_network
    depends_on:
      - employees-db
    profiles:
      - employees
      - all


  activemq:
    image: harbor.k8s.elab.rs/bolnica-1/activemq:latest
    build: 
      context: ./activeMQ
      dockerfile: Dockerfile
    restart: always
    container_name: activemq
    ports:
      - "8079:8079"
      - "8078:8078"
      - "61616:61616"
      - "8161:8161"
    volumes:
      - ./activemq/data:/data
      - ./activemq/conf:/conf
      - ./activemq/logs:/logs
    environment:
      ACTIVEMQ_ADMIN_LOGIN: admin
      ACTIVEMQ_ADMIN_PASSWORD: admin
    networks:
      - my_local_network



  patients-db:
    image: oscarfonts/h2
    container_name: patients-db
    restart: always
    volumes:
      - ./h2:/opt/h2-data
    environment:
      - H2_OPTIONS=-ifNotExists -web -webAllowOthers -webPort 8081
    networks:
      - my_local_network
    profiles:
      - patients
      - all
       
  patients-service:
    image: harbor.k8s.elab.rs/bolnica-1/patients:0.0.1
    build: 
     context: ./patients
     dockerfile: Dockerfile
    restart: always
    container_name: patients
    ports:
      - "8081:8081"
    environment:
      - SPRING_ACTIVEMQ_BROKER_URL=tcp://activemq:61616
      - SPRING_DATASOURCE_URL=jdbc:h2:file:/opt/h2-data/patients-service
      - employee_service_url=http://employees-service:8080/api
      - laboratory_service_url=http://laboratory-service:8083/api
    networks:
      - my_local_network
    depends_on:
      - patients-db
      - activemq
    profiles:
      - patients
      - all
 
      
      
  laboratory-db:     
    image: oscarfonts/h2
    container_name: laboratory-db
    restart: always
    volumes:
      - ./h2:/opt/h2-data
    environment:
      - H2_OPTIONS=-ifNotExists -web -webAllowOthers -webPort 8083
    networks:
      - my_local_network
    profiles:
      - laboratory
      - all
      
  laboratory-service:
    image: harbor.k8s.elab.rs/bolnica-1/laboratory:0.0.1
    build: 
     context: ./laboratory
     dockerfile: Dockerfile
    restart: always
    container_name: laboratory
    ports:
      - "8083:8083"
    environment:
      - SPRING_ACTIVEMQ_BROKER_URL=tcp://activemq:61616
      - SPRING_DATASOURCE_URL=jdbc:h2:file:/opt/h2-data/laboratory-service
      - employee_service_url=http://employees-service:8080/api
      - patients_service_url=http://patients-service:8081/api
    networks:
      - my_local_network
    depends_on:
      - laboratory-db
      - activemq
    profiles:
      - laboratory
      - all
 
 
  
  infirmary-db:
    image: oscarfonts/h2
    container_name: infirmary-db
    restart: always
    volumes:
      - ./h2:/opt/h2-data
    environment:
      - H2_OPTIONS=-ifNotExists -web -webAllowOthers -webPort 8084
    networks:
      - my_local_network
    profiles:
      - infirmary
      - all
      
  infirmary-service:
    image: harbor.k8s.elab.rs/bolnica-1/infirmary:0.0.1
    build: 
     context: ./infirmary
     dockerfile: Dockerfile
    restart: always
    container_name: infirmary
    ports:
      - "8084:8084"
    environment:
      - SPRING_ACTIVEMQ_BROKER_URL=tcp://activemq:61616
      - SPRING_DATASOURCE_URL=jdbc:h2:file:/opt/h2-data/infirmary-service
      - employee_service_url=http://employees-service:8080/api
      - patients_service_url=http://patients-service:8081/api
      - laboratory_service_url=http://laboratory-service:8083/api
    networks:
      - my_local_network
    depends_on:
      - infirmary-db
      - activemq
    profiles:
      - infirmary
      - all

  

networks:
  my_local_network:
    name : my_local_network